* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
  display: flex;
}
.sideNav {
  width: 400px;
  height: 100vh;
  border:2px solid red;
  background-color: #000000;
  display: flex;;

}

.sideNav ul {
text-align: left;
margin: 30px;
}
.sideNav-links li a {
  text-decoration-line: none;
  text-decoration: none;
  font-size: 1.4rem;
  color:#ffffff;
}
.sideNav ul li {
  padding-bottom: 20px;
}
.sideNav-links li h1 {
  font-size: 3rem;
}

.topNav {
  background-color: #111111;
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.topNav-back-btn {
  margin-left:20px;
  color:#ffffff;
  cursor: pointer;
}
.topNav-links {
  display: flex;
  margin-right:20px;
  gap:20px;
}
.topNav-links button {
  padding: 20px;
  border-radius: 30px;
  width: 150px;
  cursor: pointer;
  transition: ease-out .1s;
}
.topNav-signup {
  color:#ffffff;
  background-color: #111111;
}
.topNav-signup:hover,.topNav-login:hover {
  transform: scale(1.03);
  transition: ease-in .1s;
}
.topNav-login {
  background-color:#ffffff;
  color: #000000;
}




html {
  background-color: #242424;
}